
body {
	margin=0px;
	text-align: center;
	font-family: 'Merriweather', serif;
	font-size: medium;
}
h1 {
	margin:0;
	font-family: 'Sacramento', cursive;
	font-size: 90px;
	margin-top: 50px;
	line-height: 2;
}
h2 {
	color: #11999E;
	text-decoration-line: underline;
    text-decoration-style: dotted;
    padding-bottom: 10px;
    text-align: center;
}
h3{
	color: #11999E;
	text-decoration-line: underline;
    text-decoration-style: dotted;
}
hr{
	border: dotted #98ddca 6px;
	border-bottom:0;
	width: 6%;
	margin: 100px auto;
}
a{
	margin: auto 26px;

}
.top {
	background-color: #eeeeee;
	padding-top:60px; 

}
.mid{
	margin: 100px 0;
}

.bottom{
	background-color:#11999E;
	padding: 20px 0 20px;
}
.tcloud {
	position: relative;
	left: 16%;
	height: 3%;
	width: 9%;
}
.bcloud {
	height: auto;
	width: 9%;
	position: absolute;
}
.mount{
	height:357px;
	width: 598px;
	background-color: #e4f9f5
}
.skill-row{
	width: 70%;
	margin: 70px auto 100px auto;
	text-align: left;
	line-height:2;
}
.skill-1
{
	width: 230px;
	float: left;
	position: relative;
	right: 30px;
	bottom: 50px;
}
.skill-2
{
	width: 260px;
	float: right;
}
.img
{
	width: 5%;
	border-radius: 100%;
}
#edit{
	position: relative;
	top: 30px;
}
.btn {
  position: relative;
  top: 30px;
  background: #73c7ff;
  background-image: -webkit-linear-gradient(top, #73c7ff, #7f3ee0);
  background-image: -moz-linear-gradient(top, #73c7ff, #7f3ee0);
  background-image: -ms-linear-gradient(top, #73c7ff, #7f3ee0);
  background-image: -o-linear-gradient(top, #73c7ff, #7f3ee0);
  background-image: linear-gradient(to bottom, #73c7ff, #7f3ee0);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Merriweather', serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #be3cfa;
  background-image: -webkit-linear-gradient(top, #be3cfa, #3bd9f5);
  background-image: -moz-linear-gradient(top, #be3cfa, #3bd9f5);
  background-image: -ms-linear-gradient(top, #be3cfa, #3bd9f5);
  background-image: -o-linear-gradient(top, #be3cfa, #3bd9f5);
  background-image: linear-gradient(to bottom, #be3cfa, #3bd9f5);
  text-decoration: none;
}